{% extends 'base.html' %}



{% block content %}
<div>
    <div class="text-3xl text-center mb-6">
        <h1>Password reset has been sent.</h1> 
    </div>
    <div class="text-center">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
{% endblock %}